<div class='home' style="background-image: url(https://images.pexels.com/photos/373488/pexels-photo-373488.jpeg?cs=srgb&dl=building-ceiling-classroom-373488.jpg&fm=jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
	<br>
	<br>
	<center><h1>Hogan's Usecase</h1></center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h3>Development Team:</h3>
	<h4>Team: Shreyaa Sridhar, Harika Adivanne, Sulochana Rani, Mulpuri Navya Battu</h4>
	<h4>Tech Stack: Ruby on Rails 5.1, PostgreSQL</h4>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
</div>